*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50% ), url(family.jpg);
    background-position: center ;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    text-align: center;
    color:#ff7200;
    font-size: 25px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 1px;

}

image {
    border: 0px;
  width: 250px;
  height: 400px;
}

.image {
  margin: 50px;
  border-left: 0px;
  flex-basis: 150%;
  margin-left: 0%;
  flex: 2px;
}
    
    
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.text{
    size: 17px;
    border-top: 10px;
    text-emphasis:none;
    padding: 0;
    color: #ffffff;
    text-orientation: sideways;
    flex: 100%;
}